
.register{
    position: relative;
    background-color: black;
    height: 100vh;
    overflow: hidden;
  }
  .register .info{
    position: relative;
  }

  .register .info button{
   position: absolute;
   right: 0;
   top: 0;
  }
  .register .data{
    margin-top: 7rem;
    width: 55%;
  }
  .register .data input,select{
    background-color: transparent;
    border: 2.2px solid white;
    outline: none;
    color: white;
   padding-left: 15px;
  }
  .register .data .button button{
    background-color: transparent;
    border: 2.2px solid white;
    color: white;
  }
  .register .data .button button:hover{
    background-color: orangered;
  }
  .register .data input::placeholder{
    color: white;
    opacity: 100%;
    padding-left: .5rem;
  }
  .register .data select{
    color: white;
    opacity: 100%;
    padding-left: .5rem;
  }
 
  @media(max-width:768px){
    .register{
      height: 60vh;
      font-size: .8rem;
    }
  }
  @media(max-width:575px){
    .register{
      height: 70vh;
      
    }
   .register .data{
      height: 55vh;
      width: 80%;
      margin: 4rem auto;
      
      
    }
     .register h1{
     
      font-size: .9rem;
    }
    .inputs{
     
      flex-wrap: wrap ;
      justify-content: center;
      align-items: center;
     
    }
    .inputs .first{
      width: 100% !important;
    
    }
    .inputs .second{
      width: 100% !important;
       
    }
  
  }